body, html {
  font-family: 'Roboto';
}

.customButton {
  background: white;
  border: 1px solid black;
  cursor: pointer;
  color: red;
  border-radius:3px;
}
header > img {
  position: absolute;
}
.title {
  text-align: center;
}
hr {
  border: 1px solid #ccc;
}
form {
  margin-bottom: 30px;
  text-align: center;
}
main {
  margin-top: 30px;
}
